@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #9c9b91;
}

nav {
    position: fixed;
}

#photo-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin:20px;
}

.card {

    width:300px;
   height:71vh;
   margin-bottom: 12px;
}

.go-to-top{
    z-index: 10;
    position: fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    border-radius: 50%;
    background-color: #bd9479;
}
.go-to-top i{
    font-size: 40px;
    
}

.navbar-brand{
   margin-left:-67px;
}

nav div form{
    margin-right:-50px;
}

.card{
    transition: all eease-in-out .2s;
}
.card:hover{
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
transform: translateY(-5px);
cursor:pointer;
}



.add-image{
    z-index: 10;
    position: fixed;
    bottom: 10px;
    margin-left: 46vw;
    cursor:pointer;
    /* border-radius: 50%; */
    /* background-color: rgb(208, 146, 53); */
}
.add-image i{
    font-size:40px;
}


/* FORM */

.form-container {
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 38vw;
    border: 3px solid #f1f1f1;
    z-index: 9px ;
    border-radius: 22px;
    
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 22px;
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
  }
  
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #5885AF;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 12px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color:#C3E0E5;
    border-radius: 12px;
  }

  #title{
    background-color: #5885AF;
    border-radius: 12px;
  }

  #des{
    background-color: #5885AF;
    border-radius: 12px;
  }

  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }